.recipetile_image{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
    /* cursor: pointer; */
}
.recipetile_image:hover{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 4px;
    cursor: pointer;
}
.recipetile_label{
    max-width: 200px;
    text-align: center;
    margin: 12px 0px;;
}